
        #nav{
            display: flex;
            justify-content: space-around;
        }
        #nav>div{
            font-size: 30px;
            /* background-color: blanchedalmond; */
        }
        #nav>div>button{
            width: 200px;
            height: 30px;
        }
        #location img{
            width: 10%;
        }
        #location:hover{
            color: #d11243;
        }
        #logo img{
            width: 100%;
        }
        .search button{
            align-items: center;
            text-align: center;
            display: flex;
            justify-content: space-between;
            margin-top: 4px;
        }
        .search button:hover{
            display: flex;
            justify-content: space-around;
            color: #d11243;
        }
        .cato{
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 3px;
        }
        .cato:hover{
            color: #d11243;
        }
        .cato img{
            width: 20%;
        }
        .login{
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 3px;
        }
        .login:hover{
            color: #d11243;
        }
        .cart{
            display: flex;
            align-items: center;
            text-align: center;
            gap: 5px;
            margin-bottom: 2px;
        }
        .cart:hover{
            color: #d11243;
        }
        .cart>img{
            width: 50%;
        }
        #banner>div>img{
            width: 100%;  
        }
        #banner>div{
            margin-top: 15px;
        }
        .body1{
            margin: 20px 10%;
            width: 80%;
        }
        .search_by_catogeries>strong{
            font-size: 20px;

        }
        .body_second{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: auto;
        }
        .body_second>div>div:nth-child(1)>img:hover{
            width: 100%;
            height: 29vh;
            margin: 0px;
            
        }
        .body_second>div{
            text-align: center;
            margin: 10px 10px;
            /* border: 1px solid black; */
        }
        .body_second>div>div:nth-child(1){
            width: 100%;
            height: 30vh;
            /* background-color: black; */
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
        .body_second>div>div:nth-child(1)>img{
            width: 98%;
            height: 27vh;
        }
        #Box-join{
            background-color: rgb(231, 164, 101);
            /* border: 1px solid black; */
            height: 15vh;
            width: 50%;
            margin: 10px 25%;
            border-radius: 10px;
        }
        #Box-join>div>div:nth-child(1){
            display: flex;
            justify-content: space-between;
            margin: 10px 20px;
            border-bottom: 1px solid black;
            padding-top: 5px;
        }
        #Box-join>div:nth-child(2){
            margin: 5px 20px;
            text-align: center;
            /* border: 1px solid black; */
        }
        #Box-join>div>div>button{
            border: none;
            border-radius: 10px;
            color: white;
            background-color: #d11243;
            /* font-size: 15px; */
        }
        #Know_me{
            text-align: center;
            width: 80%;
            margin: 15px 10%;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            
        }
        #Know_me>div{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            row-gap: 10px;
            
            
        }
        #Know_me>div>div:nth-child(2),#Know_me>div>div:nth-child(5){
            border-left: 1px solid black;
            border-right: 1px solid black;
            
            /* background-color: aqua; */
        }
        
        #bank-poster{
            width: 70%;
            margin: 5px 11%;
        }
        #reff{
            display: flex;
            width: 60%;
            background-color:rgb(243, 161, 45);
            color: white;
            margin: 10px 22%;
        }
        #reff>div>img{
            width: 60%;
            
        }
        #best{
             margin: 5px 10%;
            width: 80%;
        }

        #best-seler{
            display: flex;
            justify-content: space-around;
            
        }
        #best-seler>div{
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            margin-left: 10px;
        }

        #best-seler>div>div>div>img{
            width: 100%;
        
        }
        #best-seler>div>div>div:nth-child(2){
            padding: 5px;
        }
        .mrp{
            display: flex;
             justify-content:space-between;
             
        }
        .mrp>div{
            margin: auto;

        }
        .mrp>div>button{
            width: 150px;
            height: 35px;
            border: none;
        }
        #bonless{
             margin: 5px 10%;
             width: 80%;
        }

        .bonless-cuts{
            display: flex;
            justify-content: space-around;
            
        }
        .bonless-cuts>div{
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            margin-left: 10px;
        }

        .bonless-cuts>div>div>div>img{
            width: 100%;
        
        }
        .bonless-cuts>div>div>div:nth-child(2){
            padding: 5px;
        }
        .mrp2{
            display: flex;
             justify-content:space-between;
        }
        .mrp2>div{
            margin:auto;
        }
        .mrp2>div>button{
            width: 150px;
            height: 35px;
            border: none;
        }
        #breakfast{
             margin: 5px 10%;
             width: 80%;
        }
        .order{
            display: flex;
            gap: 5px;
            margin:5px 25%;
        }
        .chek_out_blog{
            width: 80%;
            margin: 10% 10% 2% 10%;
            
        }
        .chek_out_blog>div{
            display: flex;
            gap: 15px;
        }
        
        .chek_out_blog>div>div>img{
            width: 100%;
            height: 50vh;
            border-radius: 10px;
        }
        .chek_out_blog>div>div>div{
            margin: 2px 5px;
        }
        .banner2{
            width: 75%;
            margin: 2px 10%;
        }
        .news{
            width: 85%;
            margin: 30px 10%;
        }
        .news>div{
            display: flex;
            justify-content: space-between;
            /* border: 1px solid black; */
            
        }
        .news-child>div:nth-child(1){
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            margin: 10px;
            
        }
        .news-child>div> img{
            width: 100%;
            height: 28vh;
            
        }
        .down-img{
            width: 85%;
            margin: 10px 10%;
            display: flex;
            /* border: 1px solid black; */
        


        }
        .down-img>div>img{
            width: 200%;

        }
        .down-img>div:nth-child(2) {
            width: 80%;
            border-bottom: 1px solid rgb(65, 63, 63) ;
            margin-left: 10%;
            margin-bottom: 4%;

        }
        .down{
            width: 80%;
            margin: 10px 10%;
            display: flex;
            
        }
        .down-child{
        display: flex;
        }

        .last{
            display: flex;
            width: 80%;
            margin: 5px 10%;
        }
        .last>div:nth-child(2){
        
            display: flex;
            align-items: center;
            gap: 20px;

        }
        .last>div:nth-child(1),.last>div:nth-child(3){
            border-bottom: 1px solid black;
            width: 40%;
            margin-bottom:20px;
            margin-right: 1px;
        }
        .butt > button{
            background-color: #d11243;
            color: white;
            border-radius: 7%;   
        }
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          }
          
          /* Modal Content */
          .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
          }
          
          /* Add Animation */
          @-webkit-keyframes animatetop {
            from {top:-300px; opacity:0} 
            to {top:0; opacity:1}
          }
          
          @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
          }
          
          /* The Close Button */
          .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
          }
          
          .close:hover,
          .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
          }
          
          .modal-header {
            padding: 2px 16px;
            background-color: #d11243;
            color: white;
          }
          
          .modal-body {padding: 2px 16px;}
          
          .modal-footer {
            padding: 2px 16px;
            background-color: #d11243;
            color: white;
          }
        




